#Nuxt
.output
.data
.nuxt
.nitro
.cache
dist
pnpm-lock.yaml
*.local
node_modules

#log
logs
*.log

#IDE
.idea
DS_Store
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env
.env.*
!.env.example

#prisma
migrations
*.db
*.local
*.db-journal